table {
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    width: 40%;
    text-align: center;
}

td {
    padding: 5px;
    border-width: 1px;
    text-align: center;
}

button {
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
}
button:hover{
    background-color: #ababab;
    
    
}
